VITE_API_BASE_URL="https://atharyapi.runasp.net/api/v1"
VITE_SIGNALR_URL="wss://atharyapi.runasp.net"
VITE_GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID"
VITE_MICROSOFT_CLIENT_ID="YOUR_MICROSOFT_CLIENT_ID"
